<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-card>
  <ion-card-header>
    <ion-card-title>
      Registrarse
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="name" type="text" placeholder="Nombres"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="email" type="email" placeholder="Correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>

    <ion-button fill="clear" shape="round" class="ion-margin-top" (click)="register()">Crear cuenta</ion-button>
  </ion-card-content>
 </ion-card>

 <ion-text style="display: block; text-align: center;" class="ion-margin-top">
  Ya tienes una cuenta? <strong (click)="goToLogin()">Iniciar sesión</strong>
</ion-text>
</ion-content>
